## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['NAME','EIN'])

In [3]:
# Determine the number of unique values in each column.
charity_values = application_df.dtypes[application_df.dtypes != 'object'].index.tolist()
application_df[charity_values].nunique()

STATUS              2
ASK_AMT          8747
IS_SUCCESSFUL       2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df.APPLICATION_TYPE.value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 1000].index)
for app in application_types_to_replace:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,'Other')
application_df.APPLICATION_TYPE.value_counts()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C1245        1
C4200        1
C8210        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count = application_df.CLASSIFICATION.value_counts().loc[lambda x : x>1]
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1256        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 1000].index)
for cls in classifications_to_replace:
    application_df.CLASSIFICATION =  application_df.CLASSIFICATION.replace(app,'Other')
application_df.CLASSIFICATION.value_counts()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] =  application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C2150        1
C1245        1
C4200        1
C1236        1
C1248        1
C4500        1
C1580        1
C2190        1
C1732        1
C2380        1
C1900        1
C2600        1
C6100        1
C2500        1
C1283        1
C4120        1
C1728        1
C5200        1
C2561        1
C1370        1
C8210        1
C1570        1
C1820        1
C2170        1
C3700        1
C2570        1
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION"])
print(X.shape)
X.head(10)

(34299, 46)

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,...,CLASSIFICATION_C2600,CLASSIFICATION_C3000,CLASSIFICATION_C3700,CLASSIFICATION_C4120,CLASSIFICATION_C4200,CLASSIFICATION_C4500,CLASSIFICATION_C5200,CLASSIFICATION_C6100,CLASSIFICATION_C8210,CLASSIFICATION_Other
0,Independent,ProductDev,Association,1,0,N,5000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Independent,Preservation,Trust,1,0,N,5000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Independent,Preservation,Trust,1,100000-499999,N,31452,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Independent,Preservation,Trust,1,10M-50M,N,7508025,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Independent,ProductDev,Trust,1,1-9999,N,94389,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9,CompanySponsored,ProductDev,Association,1,0,N,5000,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis = 1)
y = application_df['IS_SUCCESSFUL']
X_train= X
y_train = y

X_training = pd.get_dummies(X_train)


# Split the preprocessed data into a training and testing dataset
y_test = application_df.IS_SUCCESSFUL.values
X_test = application_df.drop(columns='IS_SUCCESSFUL').values

X_testing = pd.get_dummies(X_test)

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   random_state=42,
                                                   stratify=y)

ValueError: Data must be 1-dimensional

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: 'Other'

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE