## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.svm import SVC

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['NAME','EIN'])

In [3]:
# Determine the number of unique values in each column.
charity_values = application_df.dtypes[application_df.dtypes != 'object'].index.tolist()
application_df[charity_values].nunique()

STATUS              2
ASK_AMT          8747
IS_SUCCESSFUL       2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df.APPLICATION_TYPE.value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 1000].index)
for app in application_types_to_replace:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,'Other')
application_df.APPLICATION_TYPE.value_counts()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1236        1
C1570        1
C4500        1
C1900        1
C1728        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count = application_df.CLASSIFICATION.value_counts().loc[lambda x : x>1]
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C3200        2
C1246        2
C1267        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_count[class_count < 1000].index.tolist()

for cls in classifications_to_replace:
    application_df.CLASSIFICATION =  application_df.CLASSIFICATION.replace(cls,"Other")
application_df.CLASSIFICATION.value_counts()

# Replace in dataframe
#for cls in classifications_to_replace:
   # application_df['CLASSIFICATION'] =  application_df['CLASSIFICATION'].replace(cls,'Other')
    
# Check to make sure binning was successful
#application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C2150        1
C8210        1
C2380        1
C2170        1
C1820        1
C1283        1
C1248        1
C1580        1
C3700        1
C2600        1
C2570        1
C4500        1
C1900        1
C2190        1
C1570        1
C1236        1
C1732        1
C4120        1
C4200        1
C5200        1
C2561        1
C6100        1
C1370        1
C1245        1
C2500        1
C1728        1
Name: CLASSIFICATION, dtype: int64

In [9]:
app_count = application_df.CLASSIFICATION.value_counts().loc[lambda x : x>1]
app_count

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
#classifications_to_replace = list(class_count[class_count < 1000].index)
#for classification in classifications_to_replace:
  #  application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(classification,'Other')
#application_df.CLASSIFICATION.value_counts()

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION"])
print(X.shape)
X.head(10)

(34299, 46)

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,...,CLASSIFICATION_C2600,CLASSIFICATION_C3000,CLASSIFICATION_C3700,CLASSIFICATION_C4120,CLASSIFICATION_C4200,CLASSIFICATION_C4500,CLASSIFICATION_C5200,CLASSIFICATION_C6100,CLASSIFICATION_C8210,CLASSIFICATION_Other
0,Independent,ProductDev,Association,1,0,N,5000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Independent,Preservation,Trust,1,0,N,5000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Independent,Preservation,Trust,1,100000-499999,N,31452,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Independent,Preservation,Trust,1,10M-50M,N,7508025,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Independent,ProductDev,Trust,1,1-9999,N,94389,1,1,0,...,0,0,0,0,0,0,0,0,0,0
9,CompanySponsored,ProductDev,Association,1,0,N,5000,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [46]:
application_ctg= application_df.dtypes[application_df.dtypes =="object"].index.tolist()
application_df[application_ctg].nunique()

APPLICATION_TYPE           6
AFFILIATION                6
CLASSIFICATION            32
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [47]:
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(application_df[application_ctg]))
encode_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [48]:
encode_df.columns= enc.get_feature_names(application_ctg)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [49]:
prep_application_df= application_df.merge(encode_df, left_index=True, right_index=True).drop(columns= application_ctg)
prep_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [50]:
y= prep_application_df["IS_SUCCESSFUL"].values
X= prep_application_df.drop(columns= ["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test= train_test_split(X,y,random_state=30)

In [51]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [52]:
print(len(prep_application_df.columns))

67

## Compile, Train and Evaluate the Model

In [54]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features= len(X_train[0])
hidden_layers1= 30
hidden_layers2= 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layers1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layers2, input_dim=number_input_features, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 30)                2010
_________________________________________________________________
dense_2 (Dense)              (None, 25)                775
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 26
=================================================================
Total params: 2,811
Trainable params: 2,811
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the model
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics= ["accuracy"])

In [57]:
cp_callback= ModelCheckpoint(filepath=checkpoint_path,save_weights_only=True, save_freq=5)

In [58]:
# Train the model
fit_model= nn.fit(X_train_scaled, y_train, epochs=100, verbose=1, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5781 - accuracy: 0.7169
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7325
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5534 - accuracy: 0.7326
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5514 - accuracy: 0.7331
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5506 - accuracy: 0.7336
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5483 - accuracy: 0.7344
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7340
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7347
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7367
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7370
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7368
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5438 - accuracy: 0.7379
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7373
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7376
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7385
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7374
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7380
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5431 - accuracy: 0.7373
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7386
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7381
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7392
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7392
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5413 - accuracy: 0.7397
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7393
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7397
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7390
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7395
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5402 - accuracy: 0.7392
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7390
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7396
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5397 - accuracy: 0.7404
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7402
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5398 - accuracy: 0.7395
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7404
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5395 - accuracy: 0.7406
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7399
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5392 - accuracy: 0.7406
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7403
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5392 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7403
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7403
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7413
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7410
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5389 - accuracy: 0.7399
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7406
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7405
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7407
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7403
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7405
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7407
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7415
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7412
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7408
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5381 - accuracy: 0.7412
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7406
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7409
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7403
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7415
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7398
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7414
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7406
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7404
Epoch 81/100

804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7417
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7417
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7414
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7409
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7415
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5374 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7411
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7416
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7412
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7414
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7421
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7415
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7420
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7415
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7401

In [59]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5707 - accuracy: 0.7234
Loss: 0.5707032680511475, Accuracy: 0.7233819365501404

In [60]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")